MTNNSub/Web References/CASVC/parlayx_payment_amount_charging_interface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:parlayx_payment_xsd="http://www.csapi.org/schema/parlayx/payment/v2_1" xmlns:parlayx_payment_amount_charging="http://www.csapi.org/wsdl/parlayx/payment/amount_charging/v2_1/interface" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:parlayx_common_faults="http://www.csapi.org/wsdl/parlayx/common/v2_0/faults" xmlns:parlayx_payment_amount_charging_local_xsd="http://www.csapi.org/schema/parlayx/payment/amount_charging/v2_1/local" xmlns:parlayx_common_xsd="http://www.csapi.org/schema/parlayx/common/v2_1" xmlns="http://schemas.xmlsoap.org/wsdl/" name="parlayx_payment_amount_charging_interface" targetNamespace="http://www.csapi.org/wsdl/parlayx/payment/amount_charging/v2_1/interface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.csapi.org/wsdl/parlayx/common/v2_0/faults" location="parlayx_common_faults_2_0.wsdl" />
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.csapi.org/schema/parlayx/payment/amount_charging/v2_1/local">
      <xsd:import schemaLocation="parlayx_common_types_2_1.xsd" namespace="http://www.csapi.org/schema/parlayx/common/v2_1" />
      <xsd:import schemaLocation="parlayx_payment_types_2_1.xsd" namespace="http://www.csapi.org/schema/parlayx/payment/v2_1" />
      <xsd:element name="chargeAmount" type="parlayx_payment_amount_charging_local_xsd:chargeAmount" />
      <xsd:complexType name="chargeAmount">
        <xsd:sequence>
          <xsd:element name="endUserIdentifier" type="xsd:anyURI" />
          <xsd:element name="charge" type="parlayx_common_xsd:ChargingInformation" />
          <xsd:element name="referenceCode" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="chargeAmountResponse" type="parlayx_payment_amount_charging_local_xsd:chargeAmountResponse" />
      <xsd:complexType name="chargeAmountResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="refundAmount" type="parlayx_payment_amount_charging_local_xsd:refundAmount" />
      <xsd:complexType name="refundAmount">
        <xsd:sequence>
          <xsd:element name="endUserIdentifier" type="xsd:anyURI" />
          <xsd:element name="charge" type="parlayx_common_xsd:ChargingInformation" />
          <xsd:element name="referenceCode" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="refundAmountResponse" type="parlayx_payment_amount_charging_local_xsd:refundAmountResponse" />
      <xsd:complexType name="refundAmountResponse">
        <xsd:sequence />
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AmountCharging_chargeAmountRequest">
    <wsdl:part name="parameters" element="parlayx_payment_amount_charging_local_xsd:chargeAmount" />
  </wsdl:message>
  <wsdl:message name="AmountCharging_chargeAmountResponse">
    <wsdl:part name="result" element="parlayx_payment_amount_charging_local_xsd:chargeAmountResponse" />
  </wsdl:message>
  <wsdl:message name="AmountCharging_refundAmountRequest">
    <wsdl:part name="parameters" element="parlayx_payment_amount_charging_local_xsd:refundAmount" />
  </wsdl:message>
  <wsdl:message name="AmountCharging_refundAmountResponse">
    <wsdl:part name="result" element="parlayx_payment_amount_charging_local_xsd:refundAmountResponse" />
  </wsdl:message>
  <wsdl:portType name="AmountCharging">
    <wsdl:operation name="chargeAmount">
      <wsdl:input message="parlayx_payment_amount_charging:AmountCharging_chargeAmountRequest" />
      <wsdl:output message="parlayx_payment_amount_charging:AmountCharging_chargeAmountResponse" />
      <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException" />
      <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException" />
    </wsdl:operation>
    <wsdl:operation name="refundAmount">
      <wsdl:input message="parlayx_payment_amount_charging:AmountCharging_refundAmountRequest" />
      <wsdl:output message="parlayx_payment_amount_charging:AmountCharging_refundAmountResponse" />
      <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException" />
      <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>