MTNCInfo_1/Web References/SNSVC/parlayx_sms_notification_manager_interface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:parlayx_sms_notification_manager="http://www.csapi.org/wsdl/parlayx/sms/notification_manager/v2_3/interface" xmlns:parlayx_sms_xsd="http://www.csapi.org/schema/parlayx/sms/v2_2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:parlayx_common_faults="http://www.csapi.org/wsdl/parlayx/common/v2_0/faults" xmlns:parlayx_common_xsd="http://www.csapi.org/schema/parlayx/common/v2_1" xmlns:parlayx_sms_notification_manager_local_xsd="http://www.csapi.org/schema/parlayx/sms/notification_manager/v2_3/local" xmlns="http://schemas.xmlsoap.org/wsdl/" name="parlayx_sms_notification_manager_interface" targetNamespace="http://www.csapi.org/wsdl/parlayx/sms/notification_manager/v2_3/interface" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.csapi.org/wsdl/parlayx/common/v2_0/faults" location="parlayx_common_faults_2_0.wsdl" />
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.csapi.org/schema/parlayx/sms/notification_manager/v2_3/local">
      <xsd:import schemaLocation="parlayx_sms_types_2_2.xsd" namespace="http://www.csapi.org/schema/parlayx/sms/v2_2" />
      <xsd:import schemaLocation="parlayx_common_types_2_1.xsd" namespace="http://www.csapi.org/schema/parlayx/common/v2_1" />
      <xsd:element name="startSmsNotification" type="parlayx_sms_notification_manager_local_xsd:startSmsNotification" />
      <xsd:complexType name="startSmsNotification">
        <xsd:sequence>
          <xsd:element name="reference" type="parlayx_common_xsd:SimpleReference" />
          <xsd:element name="smsServiceActivationNumber" type="xsd:anyURI" />
          <xsd:element minOccurs="0" maxOccurs="1" name="criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="startSmsNotificationResponse" type="parlayx_sms_notification_manager_local_xsd:startSmsNotificationResponse" />
      <xsd:complexType name="startSmsNotificationResponse">
        <xsd:sequence />
      </xsd:complexType>
      <xsd:element name="stopSmsNotification" type="parlayx_sms_notification_manager_local_xsd:stopSmsNotification" />
      <xsd:complexType name="stopSmsNotification">
        <xsd:sequence>
          <xsd:element name="correlator" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="stopSmsNotificationResponse" type="parlayx_sms_notification_manager_local_xsd:stopSmsNotificationResponse" />
      <xsd:complexType name="stopSmsNotificationResponse">
        <xsd:sequence />
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SmsNotificationManager_startSmsNotificationRequest">
    <wsdl:part name="parameters" element="parlayx_sms_notification_manager_local_xsd:startSmsNotification" />
  </wsdl:message>
  <wsdl:message name="SmsNotificationManager_startSmsNotificationResponse">
    <wsdl:part name="result" element="parlayx_sms_notification_manager_local_xsd:startSmsNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="SmsNotificationManager_stopSmsNotificationRequest">
    <wsdl:part name="parameters" element="parlayx_sms_notification_manager_local_xsd:stopSmsNotification" />
  </wsdl:message>
  <wsdl:message name="SmsNotificationManager_stopSmsNotificationResponse">
    <wsdl:part name="result" element="parlayx_sms_notification_manager_local_xsd:stopSmsNotificationResponse" />
  </wsdl:message>
  <wsdl:portType name="SmsNotificationManager">
    <wsdl:operation name="startSmsNotification">
      <wsdl:input message="parlayx_sms_notification_manager:SmsNotificationManager_startSmsNotificationRequest" />
      <wsdl:output message="parlayx_sms_notification_manager:SmsNotificationManager_startSmsNotificationResponse" />
      <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException" />
      <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException" />
    </wsdl:operation>
    <wsdl:operation name="stopSmsNotification">
      <wsdl:input message="parlayx_sms_notification_manager:SmsNotificationManager_stopSmsNotificationRequest" />
      <wsdl:output message="parlayx_sms_notification_manager:SmsNotificationManager_stopSmsNotificationResponse" />
      <wsdl:fault name="ServiceException" message="parlayx_common_faults:ServiceException" />
      <wsdl:fault name="PolicyException" message="parlayx_common_faults:PolicyException" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>