MTNCInfo_1/DataSync.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.csapi.org/schema/parlayx/data/v1_0"
                  name="sag_data_sync_service" targetNamespace="http://www.csapi.org/schema/parlayx/data/v1_0"
                  xmlns:sag_data_sync="http://www.csapi.org/wsdl/parlayx/data/sync/v1_0/interface"
                  xmlns:ns1="http://www.csapi.org/schema/parlayx/data/sync/v1_0/local" >
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified"
                targetNamespace="http://www.csapi.org/schema/parlayx/data/sync/v1_0/local">
      <xsd:element name="syncOrderRelation" type="ns1:syncOrderRelation"/>

      <xsd:complexType name="syncOrderRelation">
        <xsd:sequence>
          <xsd:element name="userID" type="ns1:UserID"/>
          <xsd:element name="spID" type="xsd:string"/>
          <xsd:element name="productID" type="xsd:string"/>
          <xsd:element name="serviceID" type="xsd:string"/>
          <xsd:element name="serviceList" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="updateType" type="xsd:int"/>
          <xsd:element name="updateTime" type="xsd:string"/>
          <xsd:element name="updateDesc" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="effectiveTime" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="expiryTime" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="extensionInfo" type="ns1:NamedParameterList" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="syncOrderRelationResponse" type="ns1:syncOrderRelationResponse"/>
      <xsd:complexType name="syncOrderRelationResponse">
        <xsd:sequence>
          <xsd:element name="result" type="xsd:int"/>
          <xsd:element name="resultDescription" type="xsd:string"/>
          <xsd:element name="extensionInfo" type="ns1:NamedParameterList" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
    <xsd:complexType name="UserID">
      <xsd:sequence>
        <xsd:element name="ID" type="xsd:string"/>
        <xsd:element name="type" type="xsd:int"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NamedParameterList">
      <xsd:sequence>
        <xsd:element name="item" type="ns1:NamedParameter" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NamedParameter">
      <xsd:sequence>
        <xsd:element name="key" type="xsd:string"/>
        <xsd:element name="value" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
    </xsd:schema>

  </wsdl:types>

  <wsdl:message name="DataSync_syncOrderRelationRequest">
    <wsdl:part name="parameters" element="ns1:syncOrderRelation"/>
  </wsdl:message>
  <wsdl:message name="DataSync_syncOrderRelationResponse">
    <wsdl:part name="result" element="ns1:syncOrderRelationResponse"/>
  </wsdl:message>
  <wsdl:portType name="DataSync">
    <wsdl:operation name="syncOrderRelation">
      <wsdl:input message="tns:DataSync_syncOrderRelationRequest"/>
      <wsdl:output message="tns:DataSync_syncOrderRelationResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="DataSyncBinding" type="tns:DataSync">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="syncOrderRelation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataSyncService">
    <wsdl:port name="DataSync" binding="tns:DataSyncBinding">
      <soap:address location="http://localhost:9080/DataSyncService/services/DataSync"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
