MTNCInfo_1/Service References/DSync/DataSync1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.csapi.org/schema/parlayx/data/v1_0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://www.csapi.org/schema/parlayx/data/v1_0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.csapi.org/schema/parlayx/data/v1_0">
      <s:element name="syncOrderRelation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="tns:UserID" />
            <s:element minOccurs="0" maxOccurs="1" name="spID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serviceList" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="updateType" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="updateTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updateDesc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expiryTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extensionInfo" type="tns:NamedParameterList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserID">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NamedParameterList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:NamedParameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NamedParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="syncOrderRelationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="syncOrderRelationResult" type="tns:SyncResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SyncResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="resultDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="extensionInfo" type="tns:NamedParameterList" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="syncOrderRelationSoapIn">
    <wsdl:part name="parameters" element="tns:syncOrderRelation" />
  </wsdl:message>
  <wsdl:message name="syncOrderRelationSoapOut">
    <wsdl:part name="parameters" element="tns:syncOrderRelationResponse" />
  </wsdl:message>
  <wsdl:portType name="DataSyncSoap">
    <wsdl:operation name="syncOrderRelation">
      <wsdl:input message="tns:syncOrderRelationSoapIn" />
      <wsdl:output message="tns:syncOrderRelationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataSyncSoap" type="tns:DataSyncSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="syncOrderRelation">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataSyncSoap12" type="tns:DataSyncSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="syncOrderRelation">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataSync">
    <wsdl:port name="DataSyncSoap" binding="tns:DataSyncSoap">
      <soap:address location="http://funliveweb.com/MTNNWeb/DataSync.asmx" />
    </wsdl:port>
    <wsdl:port name="DataSyncSoap12" binding="tns:DataSyncSoap12">
      <soap12:address location="http://funliveweb.com/MTNNWeb/DataSync.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>