MTNNSub/Web References/AUTHSVC/v_interface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:authorization_xsd="http://www.csapi.org/schema/authorization/data/v1_0" xmlns:authorization_local="http://www.csapi.org/schema/authorization/local/v1_0" xmlns:authorization="http://www.csapi.org/wsdl/authorization/interface/v1_0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:header="http://www.huawei.com.cn/schema/common/v2_1" xmlns="http://schemas.xmlsoap.org/wsdl/" name="v_interface" targetNamespace="http://www.csapi.org/wsdl/authorization/interface/v1_0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.csapi.org/schema/authorization/local/v1_0">
      <xsd:import schemaLocation="authorization_types_1_0.xsd" namespace="http://www.csapi.org/schema/authorization/data/v1_0" />
      <xsd:element name="authorization" type="authorization_local:Authorization" />
      <xsd:complexType name="Authorization">
        <xsd:sequence>
          <xsd:element name="endUserIdentifier" type="xsd:string" />
          <xsd:element name="transactionId" type="xsd:string" />
          <xsd:element name="scope" type="xsd:string" />
          <xsd:element minOccurs="0" name="serviceId" type="xsd:string" />
          <xsd:element minOccurs="0" name="amount" type="xsd:long" />
          <xsd:element minOccurs="0" name="currency" type="xsd:string" />
          <xsd:element minOccurs="0" name="contentId" type="xsd:string" />
          <xsd:element minOccurs="0" name="frequency" type="xsd:string" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="notificationURL" type="xsd:string" />
          <xsd:element minOccurs="0" name="tokenValidity" type="xsd:long" />
          <xsd:element minOccurs="0" name="extensionInfo" type="authorization_xsd:NamedParameterList" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="authorizationResponse" type="authorization_local:AuthorizationResponse" />
      <xsd:complexType name="AuthorizationResponse">
        <xsd:sequence>
          <xsd:element name="result" type="authorization_xsd:Result" />
          <xsd:element minOccurs="0" name="token" type="xsd:string" />
          <xsd:element minOccurs="0" name="extensionInfo" type="authorization_xsd:NamedParameterList" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="updateAuthorization" type="authorization_local:UpdateAuthorization" />
      <xsd:complexType name="UpdateAuthorization">
        <xsd:sequence>
          <xsd:element name="endUserIdentifier" type="xsd:string" />
          <xsd:element name="transactionId" type="xsd:string" />
          <xsd:element name="operation" type="xsd:string" />
          <xsd:element name="notificationEventRequired" type="xsd:string" />
          <xsd:element name="authorizationtype" type="xsd:string" />
          <xsd:element minOccurs="0" name="productId" type="xsd:string" />
          <xsd:element name="needSMSConfirm" type="xsd:string" />
          <xsd:element minOccurs="0" name="extensionInfo" type="authorization_xsd:NamedParameterList" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="updateAuthorizationResponse" type="authorization_local:UpdateAuthorizationResponse" />
      <xsd:complexType name="UpdateAuthorizationResponse">
        <xsd:sequence>
          <xsd:element name="result" type="authorization_xsd:Result" />
          <xsd:element minOccurs="0" name="updateAuthorization" type="authorization_xsd:UpdateAuthorization" />
          <xsd:element minOccurs="0" name="extensionInfo" type="authorization_xsd:NamedParameterList" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="queryAuthorization" type="authorization_local:QueryAuthorization" />
      <xsd:complexType name="QueryAuthorization">
        <xsd:sequence>
          <xsd:element name="endUserIdentifier" type="xsd:string" />
          <xsd:element name="transactionId" type="xsd:string" />
          <xsd:element minOccurs="0" name="accessToken" type="xsd:string" />
          <xsd:element minOccurs="0" name="serviceId" type="xsd:string" />
          <xsd:element minOccurs="0" name="extensionInfo" type="authorization_xsd:NamedParameterList" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="queryAuthorizationResponse" type="authorization_local:QueryAuthorizationResponse" />
      <xsd:complexType name="QueryAuthorizationResponse">
        <xsd:sequence>
          <xsd:element name="result" type="authorization_xsd:Result" />
          <xsd:element minOccurs="0" name="authorizationInfo" type="authorization_xsd:BriefAuthorizationInfo" />
          <xsd:element minOccurs="0" name="extensionInfo" type="authorization_xsd:NamedParameterList" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="queryAuthorizationList" type="authorization_local:QueryAuthorizationList" />
      <xsd:complexType name="QueryAuthorizationList">
        <xsd:sequence>
          <xsd:element name="endUserIdentifier" type="xsd:string" />
          <xsd:element name="operation" type="xsd:string" />
          <xsd:element minOccurs="0" name="extensionInfo" type="authorization_xsd:NamedParameterList" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="queryAuthorizationListResponse" type="authorization_local:QueryAuthorizationListResponse" />
      <xsd:complexType name="QueryAuthorizationListResponse">
        <xsd:sequence>
          <xsd:element name="result" type="authorization_xsd:Result" />
          <xsd:element minOccurs="0" name="authorizationInfoList" type="authorization_xsd:DetailedAuthorizationInfoList" />
          <xsd:element minOccurs="0" name="extensionInfo" type="authorization_xsd:NamedParameterList" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns:parlayx_common_head_xsd="http://www.huawei.com.cn/schema/common/v2_1" elementFormDefault="qualified" targetNamespace="http://www.huawei.com.cn/schema/common/v2_1">
      <xsd:element name="RequestSOAPHeader" type="parlayx_common_head_xsd:RequestSOAPHeader" />
      <xsd:complexType name="RequestSOAPHeader">
        <xsd:sequence>
          <xsd:element name="spId" type="xsd:string" />
          <xsd:element minOccurs="0" name="spPassword" type="xsd:string" />
          <xsd:element minOccurs="0" name="timeStamp" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="authorization_authorization">
    <wsdl:part name="parameters" element="authorization_local:authorization" />
  </wsdl:message>
  <wsdl:message name="authorization_authorizationResponse">
    <wsdl:part name="result" element="authorization_local:authorizationResponse" />
  </wsdl:message>
  <wsdl:message name="authorization_updateAuthorization">
    <wsdl:part name="parameters" element="authorization_local:updateAuthorization" />
  </wsdl:message>
  <wsdl:message name="authorization_updateAuthorizationResponse">
    <wsdl:part name="result" element="authorization_local:updateAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="authorization_queryAuthorization">
    <wsdl:part name="parameters" element="authorization_local:queryAuthorization" />
  </wsdl:message>
  <wsdl:message name="authorization_queryAuthorizationResponse">
    <wsdl:part name="result" element="authorization_local:queryAuthorizationResponse" />
  </wsdl:message>
  <wsdl:message name="authorization_queryAuthorizationList">
    <wsdl:part name="parameters" element="authorization_local:queryAuthorizationList" />
  </wsdl:message>
  <wsdl:message name="authorization_queryAuthorizationListResponse">
    <wsdl:part name="result" element="authorization_local:queryAuthorizationListResponse" />
  </wsdl:message>
  <wsdl:message name="RequestSOAPHeaderMessage">
    <wsdl:part name="RequestSOAPHeader" element="header:RequestSOAPHeader" />
  </wsdl:message>
  <wsdl:portType name="authorization">
    <wsdl:operation name="authorization">
      <wsdl:input message="authorization:authorization_authorization" />
      <wsdl:output message="authorization:authorization_authorizationResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateAuthorization">
      <wsdl:input message="authorization:authorization_updateAuthorization" />
      <wsdl:output message="authorization:authorization_updateAuthorizationResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryAuthorization">
      <wsdl:input message="authorization:authorization_queryAuthorization" />
      <wsdl:output message="authorization:authorization_queryAuthorizationResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryAuthorizationList">
      <wsdl:input message="authorization:authorization_queryAuthorizationList" />
      <wsdl:output message="authorization:authorization_queryAuthorizationListResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>